:root {
    --primari-tex-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --contact-color: #434455;
    --butoon-color: #E7E9FC;
    --butoon-background-color: #F4F4FD;
    --button-text-color: #4D5AE5;
    --text-btn-color: #FFF;
}

body {
    font-family: Roboto, sans-serif;
    background: #FFF;
    color: #434455;
}

.logo.link {}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ====HEADER==== */
.logo {
    color: var(--button-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.company-name {
    color: var(--title-text-color);

    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.company-name:hover,
.company-name:focus {
    color: var(--accent-color);
}

.menu-link {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

/* ====ADDRESS=== */
.contact {
    color: var(--contact-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.contakt-tel {
    color: var(--contact-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contakt-tel:hover,
.contakt-tel:focus {
    color: var(--accent-color);
}

.header-address {
    font-style: normal;
}

/* ====/ADDRESS=== */
/* ====/HEADER==== */
/* ====== SECTION 1 =====*/
.section-hero {
    background-color: var(--title-text-color);
}

.main-page {
    color: var(--text-btn-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.modal-btn {
    font-family: Roboto, sans-serif;
    border: 1px solid var(--butoon-color);
    background: var(--button-text-color);
    color: var(--button-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--text-btn-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.modal-button {
    color: var(--button-text-color);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: var(--butoon-background-color);
    cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
    color: var(--text-btn-color);
    background: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--accent-color);
}


/* ====== /SECTION 1 =====*/
/* ======SECTION 2====== */
.subtitle-name {
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-title .list {
    list-style: none;
}

.lead-description {
    color: var(--contact-color));
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*====section 3==== */

.caption {
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/*====/section 3==== */
/*====section 4==== */
.blok-caption {
    background: var(--butoon-background-color);
    flex-shrink: 0;
}

.card-caption {
    background: var(--WHITE, #FFF);
    padding-bottom: 0px;
    justify-content: center;

}

.text-icon {
    color: var(--primari-tex-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*====/section 4==== */
/* =====section one=== */
.picture .list {
    list-style: none;
}

.avatar .link {
    text-decoration: none;
}

.name-pic {
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.desc {
    color: var(--contact-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* =====FOOTER==== */
.footer-blok {
    background: var(--title-text-color);
}

.name-footer {
    color: var(--butoon-background-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.name-footer:hover,
.name-footer:focus {

    color: var(--accent-color);
}

.company-footer {
    color: var(--butoon-background-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-description {
    color: var(--butoon-background-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* =====/FOOTER==== */